* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 15pt;
  background-color: ;
}

h1 {
  text-align: center;
  font-size: 13pt;
}

table {
  width: 400px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

.nam
{border-top: 3px solid black;}

table, tr, td, th {
  color: tomato;
  background-color: white;
  border-bottom: 4px solid; tomato;
  

 border-collapse: collapse;
  padding: 7px;
}

th {
  font-weight: normal;
}

li {
  margin-left: 20px;
}

footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
  color: tomato;
}

td:hover{ background-color: tomato;
  color:white;


}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: blue;
}


@media screen and (max-width: 704px) {
  table {
    width: 90%;        /* 혹은 100% → 80% 이런 식으로 줄이기 */
    margin: 0 auto;    /* 가운데 정렬 */
    border-spacing: 4px;   /* 셀 사이 간격 줄이기 (테이블이면) */
  }


}


