* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
  font-family: sans-serif;
  font-size: 11pt;
  line-height: 15pt;
  background-color: ;
}

h1 {
  text-align: center;
  font-size: 13pt;
}

table {
  width: 400px;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

.nam
{border-top: 3px solid black;}

table, tr, td, th {
  color: tomato;
  background-color: white;
  border-bottom: 4px solid; tomato;
  

  

  border-collapse: collapse;
  padding: 7px;
}

th {
  font-weight: bold;
}

li {
  margin-left: 20px;
}

footer {
  font-size: 9pt;
  margin: 10px;
  text-align: center;
  color: tomato;
}

td:hover{ background-color: tomato;
  color:white;


}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: blue;
}


@media screen and (max-width: 704px) {

}


